@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gothic+A1:wght@100;300&display=swap');

.item{
    height: 450px;
    width: 300px;
    backdrop-filter: blur(50px);
    border: 0.5px solid rgba(255, 255, 255, 0.274);
    border-radius: 15px;
    background: rgb(68, 64, 87);
    background: linear-gradient(40deg, rgb(42, 37, 59) 10%, rgb(72, 62, 148) 70%, rgb(112, 76, 211) 97%);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.53);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.53);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.53);

}

.item img {
    overflow: hidden;
    height: 290px;
    width: 300px;
    object-fit: contain;
    
}

.image {
  perspective: 1000px;
  overflow: hidden;
  perspective-origin: center top;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.image .image-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  transform-origin: 100% 0;
  box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
}
.image .image-wrapper:hover {
  transform: scale(1.03);

}
.image .image-wrapper:hover .gradient {
  height: 100%;
  opacity: 1;
}
.image .gradient {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  transform: rotate(30deg);
  transform-origin: top right;
  width: 200%;
  height: 65%;
  opacity: 0.3;
  background: linear-gradient(0turn, transparent 0%, rgba(200, 200, 200, 0.4) 5%, rgba(255, 255, 255, 0.2) 15%, rgba(255, 255, 255, 0.1) 100%);
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}